In [1]:
import  numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('insurance_data.csv')
df.head()

   age  affordability  bought_insurance
0   22              1                 0
1   25              0                 0
2   47              1                 1
3   52              0                 0
4   46              1                 1

In [4]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df[['age','affordability']], df.bought_insurance, test_size=0.2)

In [8]:
# Scaling the age
X_trained_scale = X_train.copy()
X_trained_scale['age']=X_trained_scale['age']/100

X_test_scale=X_test.copy()
X_test_scale['age']=X_test_scale['age']/100

X_trained_scale.head()

     age  affordability
20  0.21              1
22  0.40              1
27  0.46              1
8   0.62              1
2   0.47              1

In [9]:
def sigmoid(X):
  return 1/(1+np.exp(-X))

In [12]:
def log_loss(y_true, y_predicted):
    epsilon = 1e-15
    y_predicted_new = [max(i,epsilon) for i in y_predicted]
    y_predicted_new = [min(i,1-epsilon) for i in y_predicted_new]
    y_predicted_new = np.array(y_predicted_new)
    return -np.mean(y_true*np.log(y_predicted_new)+(1-y_true)*np.log(1-y_predicted_new))

In [20]:
class myNN:
  def _init_(self):
    self.w1 = 1
    self.w2 = 1
    self.bias = 0

  def fit(self, X, y, epochs):
    self.w1, self.w2, self.bias = self.gradient_descent(X['age'], X['affordability'],y, epochs)
    print(f'Final weights and bias: w1:{self.w1}, w2:{self.w2}, bias:{self.bias}')

  def predict(self, X_test):
    weighted_sum = self.w1*X_test['age'] + self.w2*X_test['affordability'] + self.bias
    return sigmoid(weighted_sum)
  
  def gradient_descent(self,age, affordability, y_true, epochs):
    w1 = w2 =1
    bias = 0
    rate=0.5
    n=len(age)

    for i in range(epochs):
      weighted_sum = w1*age + w2*affordability + bias
      y_predicted=sigmoid(weighted_sum)
      loss=log_loss(y_true,y_predicted)

      w1d = (1/n)*np.dot(np.transpose(age), (y_predicted-y_true))
      w2d = (1/n)*np.dot(np.transpose(affordability),(y_predicted-y_true))

      bias_d = np.mean(y_predicted-y_true)

      w1 = w1 - rate*w1d
      w2 = w2 - rate*w2d
      bias = bias - rate*bias_d


    return w1, w2, bias

In [21]:
customModel = myNN()
customModel.fit(X_trained_scale,y_train, epochs=8000)

Final weights and bias: w1:11.276450537966152, w2:1.6206799033181565, bias:-5.90209426815787