## Exercise to use Naive Bayes to classify sklearn wine dataset

In [9]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [10]:
from sklearn.datasets import load_wine
wine = load_wine()
dir(wine)

['DESCR', 'data', 'feature_names', 'frame', 'target', 'target_names']

In [11]:
wine.target

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2])

In [12]:
wine.target_names

array(['class_0', 'class_1', 'class_2'], dtype='<U7')

In [13]:
df = pd.DataFrame(wine.data, columns = [wine.feature_names])
df.head()

  alcohol malic_acid   ash  ...   hue od280/od315_of_diluted_wines proline
0   14.23       1.71  2.43  ...  1.04                         3.92  1065.0
1   13.20       1.78  2.14  ...  1.05                         3.40  1050.0
2   13.16       2.36  2.67  ...  1.03                         3.17  1185.0
3   14.37       1.95  2.50  ...  0.86                         3.45  1480.0
4   13.24       2.59  2.87  ...  1.04                         2.93   735.0

[5 rows x 13 columns]

In [14]:
df['target'] = wine.target
df.head()

  alcohol malic_acid   ash  ... od280/od315_of_diluted_wines proline target
0   14.23       1.71  2.43  ...                         3.92  1065.0      0
1   13.20       1.78  2.14  ...                         3.40  1050.0      0
2   13.16       2.36  2.67  ...                         3.17  1185.0      0
3   14.37       1.95  2.50  ...                         3.45  1480.0      0
4   13.24       2.59  2.87  ...                         2.93   735.0      0

[5 rows x 14 columns]

In [16]:
df[50:70]

   alcohol malic_acid   ash  ... od280/od315_of_diluted_wines proline target
50   13.05       1.73  2.04  ...                         2.91  1150.0      0
51   13.83       1.65  2.60  ...                         3.37  1265.0      0
52   13.82       1.75  2.42  ...                         3.26  1190.0      0
53   13.77       1.90  2.68  ...                         2.93  1375.0      0
54   13.74       1.67  2.25  ...                         3.20  1060.0      0
55   13.56       1.73  2.46  ...                         3.03  1120.0      0
56   14.22       1.70  2.30  ...                         3.31   970.0      0
57   13.29       1.97  2.68  ...                         2.84  1270.0      0
58   13.72       1.43  2.50  ...                         2.87  1285.0      0
59   12.37       0.94  1.36  ...                         1.82   520.0      1
60   12.33       1.10  2.28  ...                         1.67   680.0      1
61   12.64       1.36  2.02  ...                         1.59   450.0      1
62   13.67       1.25  1.92  ...                         2.46   630.0      1
63   12.37       1.13  2.16  ...                         2.87   420.0      1
64   12.17       1.45  2.53  ...                         2.23   355.0      1
65   12.37       1.21  2.56  ...                         2.30   678.0      1
66   13.11       1.01  1.70  ...                         3.18   502.0      1
67   12.37       1.17  1.92  ...                         3.48   510.0      1
68   13.34       0.94  2.36  ...                         1.93   750.0      1
69   12.21       1.19  1.75  ...                         3.07   718.0      1

[20 rows x 14 columns]

In [23]:
X = df.drop(['target'], axis = 'columns')
X.head()

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:3889: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  obj = obj._drop_axis(labels, axis, level=level, errors=errors)

  alcohol malic_acid   ash  ...   hue od280/od315_of_diluted_wines proline
0   14.23       1.71  2.43  ...  1.04                         3.92  1065.0
1   13.20       1.78  2.14  ...  1.05                         3.40  1050.0
2   13.16       2.36  2.67  ...  1.03                         3.17  1185.0
3   14.37       1.95  2.50  ...  0.86                         3.45  1480.0
4   13.24       2.59  2.87  ...  1.04                         2.93   735.0

[5 rows x 13 columns]

In [26]:
y = wine.target
y

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2])

In [31]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2)
X_train.head()

    alcohol malic_acid   ash  ...   hue od280/od315_of_diluted_wines proline
78    12.33       0.99  1.95  ...  1.06                         2.31   750.0
57    13.29       1.97  2.68  ...  1.07                         2.84  1270.0
50    13.05       1.73  2.04  ...  1.12                         2.91  1150.0
15    13.63       1.81  2.70  ...  1.28                         2.88  1310.0
174   13.40       3.91  2.48  ...  0.70                         1.56   750.0

[5 rows x 13 columns]

In [32]:
from sklearn.naive_bayes import GaussianNB, MultinomialNB
model = GaussianNB()
model.fit(X_train, y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1679: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,

GaussianNB()

In [33]:
model.score(X_test, y_test)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1679: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,

0.9722222222222222

In [34]:
mn = MultinomialNB()
mn.fit(X_train, y_train)
mn.score(X_test, y_test)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1679: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1679: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,

0.7777777777777778